* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #191765;
  font-family: Roboto, sans-serif;
  padding-top: 50px;
  align-items: center;
  background-image: url("../images/big_bg.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 24px;
  align-items: center;
}

header a {
  color: #fff;
  font-size: 10px;
  top: 46px;
  display: flex;
  align-items: center;
}

header nav img {
  width: 50px;
  height: 66px;
}

.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  padding: 24px 24px 0 24px;
}

.section-1 h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 48px;
  color: #7d73fc;
  line-height: 72px;
  font-weight: 700px;
  text-align: center;
  letter-spacing: 0.37px;
}

.section-1 span {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #edecff;
}

.section-1 p {
  padding-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  width: 327px;
  color: #c8c8d4;
  text-align: center;
  padding-bottom: 20px;
  margin: 9px auto;
}

.breakage {
  width: 100%;
  padding: 24px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  padding: 24px 24px 0 24px;
}

.skillset-1 {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  line-height: 24px;
  gap: 24px;
}

.skillset-2 {
  display: flex;
  align-items: flex-start;
  line-height: 24px;
}

#languages-header {
  color: #9490ff;
}

#frameworks-header {
  color: #9490ff;
}

#skill-header {
  color: #9490ff;
}

li {
  color: #f5f5ff;
  list-style-type: none;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.section-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}

.card {
  display: flex;
  width: 200px;
  height: 104px;
  flex-direction: column;
  gap: 30px;
}

.card .card-img {
  width: 100%;
  height: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.github img {
  width: 18px;
  height: 20px;
}

.work-card img {
  width: 77px;
  height: 40px;
}

.linkedin img {
  width: 18px;
  height: 20px;
}

.two-fingers img {
  width: 14.7px;
  height: 20px;
}

.twitter img {
  width: 20px;
  height: 20px;
}

.medium img {
  width: 20px;
  height: 20px;
}

.arrow-card-2 {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-content: center;
}

.arrow-card-1 {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-content: center;
}

.arrow img {
  height: 18px;
  width: 21px;
}

.arrow-card-1 span {
  color: #a2a3ae;
}

.arrow-card-2 span {
  color: #a2a3ae;
}

.my-recent-work {
  padding-top: 40px;
  padding-bottom: 40px;
  height: 145px;
  width: 327px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my-recent-work h4 {
  color: #9490ff;
  font-size: 40px;
  font-weight: 500;
  line-height: 52px;
  text-align: left;
}

.my-recent-work .breakage {
  width: 100%;
  height: 17px;
}

.section-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 0 24px;
}

.project {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr;
  width: 395px;
  height: auto;
  grid-gap: 10px;
  padding: 24px;
}

.project > div {
  height: auto;
  width: 100%;
}

.featured-project {
  display: flex;
  flex-direction: column;
}

.recipe-card {
  width: 100%;
  height: 236px;
  padding-bottom: 10px;
}

.recipe-card img {
  width: 100%;
  height: 100%;
}

.details-card {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  justify-content: left;
  height: 100%;
}

.project-header {
  padding: 10px;
  line-height: 44px;
  width: 327px;
  height: 105px;
  font-weight: 500px;
}

.details-card h4 {
  color: #fff;
  font-size: 32px;
}

.project-body {
  width: 100%;
  height: 100%;
  color: #dcdce8;
  font-size: 20px;
  font-weight: 400px;
  line-height: 28px;
  vertical-align: top;
  padding-bottom: 10px;
}

.programming-languages {
  padding-bottom: 20px;
  padding-top: 20px;
  justify-content: center;
  align-content: center;
  gap: 8px;
}

.programming-languages ul li {
  list-style: none;
  display: inline-block;
  border-right: 1px solid #a2a3ae;
  padding: 10px;
  line-height: 20px;
  font-size: 15px;
}

.programming-languages .ruby {
  border-right: none;
}

.see-project {
  height: 48px;
  width: 89px;
  background-color: #7d73fc;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.see-project span {
  font-size: 12px;
  font-weight: 500px;
  line-height: 24px;
  color: #edecff;
}

.section-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
}

.contact-us-board {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 164;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 24px;
}

.contact-us-header {
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  text-align: center;
  color: #9390ff;
}

.contact-us-body {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #f5f5ff;
  text-align: center;
  padding-bottom: 40px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form input {
  padding: 12px;
  width: 100%;
}

form textarea {
  padding: 12px;
  width: 100%;
}

button {
  height: 48px;
  width: 89px;
  background-color: #7d73fc;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500px;
  line-height: 24px;
  color: #edecff;
  border: none;
}

button:active {
  background-color: #5e42d7;
}

button:hover {
  box-shadow: 0 8px 16px 0 #7d73fc7a;
}

footer {
  display: flex;
  justify-content: center;
}

footer .footer-card .card-img {
  height: 40px;
  display: grid;
  padding-left: 30px;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(5, 1fr);
}

footer .linkedin img {
  width: 18px;
  height: 20px;
}

footer .two-fingers img {
  width: 14.7px;
  height: 20px;
}

footer .twitter img {
  width: 20px;
  height: 20px;
}

footer .medium img {
  width: 20px;
  height: 20px;
}

.footer-email {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 221px;
  height: 29px;
}

.footer-email span {
  font-weight: 400px;
  font-size: 20px;
  line-height: 28px;
  align-items: center;
  color: #ebebff;
}

.desktop {
  display: none;
  width: 100%;
}

.desktop ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.desktop ul img {
  width: 22px;
  height: 18px;
}

/* media queries for desktop */
@media screen and (min-width: 768px) {
  body {
    justify-content: center;
    padding: 0 142px;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .all-skills {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .all-skills .skills {
    padding-top: 20px;
  }

  .featured-project {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .featured-project:nth-child(even) {
    flex-direction: row-reverse;
  }

  .featured-project .recipe-card {
    width: 685px;
    height: 448px;
  }

  .my-recent-work {
    width: 100%;
    padding: 30px 20px;
  }

  .contact-us-header span {
    display: none;
  }

  .contact-us-body #mobile {
    display: none;
  }

  .mobile-contact-us-description span {
    color: #ebebff;
    justify-content: center;
    align-items: center;
  }

  .contact-form input {
    width: 684px;
    height: 48px;
  }

  .contact-form textarea {
    width: 684px;
    height: 136px;
  }

  .section-1 .breakage {
    width: 448px;
  }

  .section-2 .breakage {
    width: 448px;
  }

  .card {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 600px;
  }

  .card-img {
    max-width: 200px;
  }
}

/* media queries for mobile screen */
@media screen and (max-width: 767px) {
  .contact-us-header h4 {
    display: none;
  }

  .mobile-contact-us-description {
    display: none;
  }

  .arrow-card-1 {
    display: none;
  }
}
